language: cpp

os:
  - linux

dist: trusty
sudo: required

compiler: 
     - gcc

# whitelist
branches:
  only:
    - master

  
install:
  - echo $TRAVIS_OS_NAME
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get update -qq; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get install -V gcc-6 g++-6 git; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo add-apt-repository -y ppa:jonathonf/gcc-7.1; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get update; fi
#  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get install gcc-7 g++-7; fi
#  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 10; fi
#  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-7 10; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get remove -qq cmake cmake-data; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get install cmake cmake-data; fi
  
script:

  - pwd
#  - sudo ls /usr/bin
#  - sudo ls /usr/local/bin
#  - which gcc
#  - gcc --version
#  - which g++
#  - g++ --version
#  - which gcc-6
#  - locate gcc-6
  - git clone https://github.com/ericniebler/range-v3.git
  - ls
  - mkdir build && cd build
  - cmake ..
  - make -j 
  #- ctest --output-on-failure


 
